#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Install OS instead of upgrade
install
# Keyboard layouts
keyboard 'us'
# Root password
rootpw --iscrypted $default_password_crypted
# Use network installation
#cdrom
url --url=$tree
#url --url="http://172.16.0.103/cobbler/ks_mirror/CentOS-7.3-x86_64"
# System language
lang en_US
# Firewall configuration
firewall --enabled --service=ssh
# System authorization information
auth  --useshadow --enablemd5  --passalgo=sha512
# Use text install
text
# SELinux configuration
selinux --disabled
# Do not configure the X Window System
skipx

# Network information
#network --onboot yes --bootproto dhcp --device eth0 --activate
network --onboot yes --bootproto dhcp --activate
# Reboot after installation
reboot
# System timezone
timezone Asia/Taipei
# System bootloader configuration
#bootloader --location=mbr
bootloader --location=mbr --driveorder=vda,sda,hda --append="crashkernel=auto rhgb quiet"
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --drives=sda --initlabel
# Disk partitioning information
part / --fstype="ext4" --ondisk=sda --size=10240
part swap --fstype="swap" --ondisk=sda --size=1024

%packages
git
nc
vim
bind-utils
wget
bash-completion
%end
